In [26]:
import pandas as pd
import numpy as np

In [27]:
link= r'C:\Users\Aless\Desktop\Data Analysis Portfolio\invx.xlsx'

In [28]:
df = pd.read_excel(link, sheet_name='Foglio3')

In [29]:
print(df)

        funding_total_usd                 market  country_code  founded_year
0                  1750000                  News           USA          2012
1                    40000            Publishing           EST          2012
2                  1500000           Electronics           GBR          2011
3                    60000               Tourism           USA          2014
4                  7000000              Software           USA          2011
...                    ...                    ...          ...           ...
28415             13000000       Pharmaceuticals           USA          2014
28416             25000000         Biotechnology           USA          2008
28417             14750000              Software           GBR          2011
28418               320000             Education           GBR          2013
28419             45000000   Enterprise Software           USA          1999

[28420 rows x 4 columns]

In [30]:
df.rename(columns={' funding_total_usd ':'totfund',' market ':'segment','country_code':'country'},inplace=True)

In [31]:
df

        totfund                segment country  founded_year
0       1750000                  News      USA          2012
1         40000            Publishing      EST          2012
2       1500000           Electronics      GBR          2011
3         60000               Tourism      USA          2014
4       7000000              Software      USA          2011
...         ...                    ...     ...           ...
28415  13000000       Pharmaceuticals      USA          2014
28416  25000000         Biotechnology      USA          2008
28417  14750000              Software      GBR          2011
28418    320000             Education      GBR          2013
28419  45000000   Enterprise Software      USA          1999

[28420 rows x 4 columns]

In [32]:
#df['segment'].unique()

In [33]:
#from sklearn.preprocessing import OneHotEncoder

#segment_enc=OneHotEncoder(sparse_output=False)

In [34]:
#[df['News'], df['Publishing'], df['Electronics'], df['Tourism'], df['Software'], df['E-Commerce'], df['Health and Wellness'], df['Education'], df['Search'], df['Curated Web'], df['Restaurants'], df['Media'], df['Health Care Information Technology'], df['Analytics'], df['Mobility'], df['Biotechnology'], df['Social Travel'], df['Mobile'], df['Pharmaceuticals'], df[nan], df['Manufacturing'], df['Advertising'], df['Entertainment'], df['Games'], df['Travel'], df['Finance'], df['Social Media'], df['Predictive Analytics'], df['Financial Services'], df['Enterprise Software'], df['Art'], df['Big Data'], df['Blogging Platforms'], df['Social Fundraising'], df['Clean Technology'], df['Corporate IT'], df['Mobile Social'], df['Navigation'], df['Photography'], df['Wine And Spirits'], df['Consumer Electronics'], df['Life Sciences'], df['Corporate Training'], df['Artificial Intelligence'], df['Services'], df['Fashion'], df['Sports'], df['Bitcoin'], df['Online Travel'], df['Web Development'], df['Electronic Health Records'], df['Customer Service'], df['3D Printing'], df['3D'], df['Drones'], df['Hardware + Software'], df['Music'], df['Semiconductors'], df['Messaging'], df['Web Hosting'], df['Developer APIs'], df['Online Shopping'], df['Security'], df['Flash Storage'], df['Networking'], df['Machine Learning'], df['Entrepreneur'], df['Commercial Real Estate'], df['Cloud Computing'], df['Kids'], df['Pets'], df['Real Estate'], df['Health Care'], df['Web Design'], df['Technology'], df['Video'], df['Distribution'], df['Mobile Games'], df['Internet Marketing'], df['Small and Medium Businesses'], df['SEO'], df['Personal Finance'], df['Digital Entertainment'], df['Telecommunications'], df['Consulting'], df['Television'], df['Payments'], df['Design'], df['Automotive'], df['SaaS'], df['Mobile Payments'], df['Social Games'], df['Business Productivity'], df['Communications Hardware'], df['Batteries'], df['Human Resources'], df['Advertising Platforms'], df['Business Services'], df['Events'], df['Nanotechnology'], df['Virtualization'], df['Cloud Infrastructure'], df['Accounting'], df['Sales and Marketing'], df['Solar'], df['Identity Management'], df['Information Security'], df['Apps'], df['Information Technology'], df['Mining Technologies'], df['Medical Devices'], df['Transportation'], df['Cloud Management'], df['Career Management'], df['Brand Marketing'], df['Nonprofits'], df['Recruiting'], df['Healthcare Services'], df['Internet Radio Market'], df['Medical'], df['Marketplaces'], df['Public Relations'], df['Incentives'], df['Gamification'], df['Internet of Things'], df['Android'], df['Marketing Automation'], df['Travel & Tourism'], df['Internet'], df['Collectibles'], df['Task Management'], df['Email'], df['Social Network Media'], df['Mobile Security'], df['Ad Targeting'], df['Development Platforms'], df['Social Media Advertising'], df['Bio-Pharm'], df['Semantic Web'], df['Collaboration'], df['Assisitive Technology'], df['Location Based Services'], df['Trusted Networks'], df['Data Visualization'], df['Enterprise Search'], df['Social Buying'], df['Optimization'], df['Outdoors'], df['Real Time'], df['Classifieds'], df['Local Based Services'], df['Creative'], df['Auctions'], df['RIM'], df['Databases'], df['Mobile Advertising'], df['Displays'], df['Social Commerce'], df['Outsourcing'], df['Outdoor Advertising'], df['Startups'], df['Clean Energy'], df['Adventure Travel'], df['Legal'], df['Advice'], df['Finance Technology'], df['Advertising Exchanges'], df['Therapeutics'], df['Hospitality'], df['Consumers'], df['Wireless'], df['Product Development Services'], df['Mobile Analytics'], df['Cloud Data Services'], df['Food Processing'], df['Privacy'], df['Chat'], df['Banking'], df['Meeting Software'], df['Energy'], df['Retail Technology'], df['Tablets'], df['Twitter Applications'], df['Agriculture'], df['Social Bookmarking']]=segment_enc.fit_transform(df[['segment']]).T

In [35]:
df['country'].unique()

array(['USA', 'EST', 'GBR', 'CHL', 'FRA', 'CHN', 'AUS', 'NLD', 'SWE',
       'RUS', 'DNK', 'DEU', 'BEL', 'IRL', 'ITA', 'IND', 'ISR', 'SGP',
       'CAN', 'THA', 'NZL', 'ESP', 'CHE', 'BRA', 'HUN', 'BWA', 'KOR',
       'HKG', 'FIN', 'CRI', 'PRT', 'ARG', 'ROM', 'JPN', 'TWN', 'COL',
       'NOR', 'UKR', 'LTU', 'TUR', 'ISL', 'URY', 'ZAF', 'PER', 'POL',
       'IDN', 'PAN', 'PHL', 'AUT', 'VNM', 'UGA', 'HRV', 'LBN', 'ARE',
       'EGY', 'LUX', 'PAK', 'CZE', 'MEX', 'MYS', 'BHS', 'NGA', 'ARM',
       'DZA', 'MDA', 'BGR', 'TUN', 'TZA', 'CYP', 'KEN', 'NPL', 'CMR',
       'SRB', 'SAU', 'CYM', 'JOR', 'GHA', 'SLV', 'GRC', 'LVA', 'ECU',
       'MLT', 'NIC', 'SVN', 'SVK', 'TTO', 'MMR', 'BGD', 'MAR', 'GTM',
       'AZE', 'MCO', 'DOM', 'UZB', 'BHR', 'OMN', 'BLR', 'BMU', 'JAM',
       'KHM', 'MUS', 'SOM', 'GIB', 'SYC'], dtype=object)

In [36]:
from sklearn.preprocessing import OneHotEncoder

country_enc=OneHotEncoder(sparse_output=False)

In [37]:
from sklearn.preprocessing import LabelEncoder

enc_lab=LabelEncoder()
encoded_countries_arr=enc_lab.fit_transform(df['country'])
print(encoded_countries_arr)

[100  32  35 ...  35  35 100]

In [38]:
encoded_countries_arr.ndim

1

In [39]:
np_array=(encoded_countries_arr)
encoded_countries_ser=pd.Series(np_array)
type(encoded_countries_ser)

pandas.core.series.Series

In [40]:
encoded_segment_arr=enc_lab.fit_transform(df['segment'])
print(encoded_segment_arr)

[430 505 195 ... 588 189 216]

In [41]:
np_array2=(encoded_segment_arr)
encoded_segment_ser=pd.Series(np_array2)
type(encoded_segment_ser)

pandas.core.series.Series

In [42]:
#df['USA'], df['EST'], df['GBR'], df['CHL'], df['FRA'], df['CHN'], df['AUS'], df['NLD'], df['SWE'], df['RUS'], df['DNK'], df['DEU'], df['BEL'], df['IRL'], df['ITA'], df['IND'], df['ISR'], df['SGP'], df['CAN'], df['THA'], df['NZL'], df['ESP'], df['CHE'], df['BRA'], df['HUN'], df['BWA'], df['KOR'], df['HKG'], df['FIN'], df['CRI'], df['PRT'], df['ARG'], df['ROM'], df['JPN'], df['TWN'], df['COL'], df['NOR'], df['UKR'], df['LTU'], df['TUR'], df['ISL'], df['URY'], df['ZAF'], df['PER'], df['POL'], df['IDN'], df['PAN'], df['PHL'], df['AUT'], df['VNM'], df['UGA'], df['HRV'], df['LBN'], df['ARE'], df['EGY'], df['LUX'], df['PAK'], df['CZE'], df['MEX'], df['MYS'], df['BHS'], df['NGA'], df['ARM'], df['DZA'], df['MDA'], df['BGR'], df['TUN'], df['TZA'], df['CYP'], df['KEN'], df['NPL'], df['CMR'], df['SRB'], df['SAU'], df['CYM'], df['JOR'], df['GHA'], df['SLV'], df['GRC'], df['LVA'], df['ECU'], df['MLT'], df['NIC'], df['SVN'], df['SVK'], df['TTO'], df['MMR'], df['BGD'], df['MAR'], df['GTM'], df['AZE'], df['MCO'], df['DOM'], df['UZB'], df['BHR'], df['OMN'], df['BLR'], df['BMU'], df['JAM'], df['KHM'], df['MUS'], df['SOM'], df['GIB'], df['SYC']=country_enc.fit_transform(df[['country']]).T

In [67]:
df['encoded_countries']=(encoded_countries_ser)
df['encoded_segments']=(encoded_segment_ser)

In [66]:
#df1=df.drop([df['segment'],df['country']])

,totfund,segment,country,founded_year,encoded_countries,encoded_segments
0,1750000,News,USA,2012,100,430
1,40000,Publishing,EST,2012,32,505
2,1500000,Electronics,GBR,2011,35,195
3,60000,Tourism,USA,2014,100,633
4,7000000,Software,USA,2011,100,588
...,...,...,...,...,...,...
28415,13000000,Pharmaceuticals,USA,2014,100,473
28416,25000000,Biotechnology,USA,2008,100,53
28417,14750000,Software,GBR,2011,35,588
28418,320000,Education,GBR,2013,35,189
28419,45000000,Enterprise Software,USA,1999,100,216

In [ ]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

In [72]:
df['founded_year']=df['founded_year'].astype(int)
type(df['encoded_segments'])

pandas.core.series.Series

In [73]:
from sklearn.tree import DecisionTreeRegressor
y=df['totfund']
X=df[['founded_year','encoded_segments','encoded_countries']]
#print(X)

In [119]:
max_lead_nodes=[50,100,200,300,500]
inv_model= DecisionTreeRegressor(random_state=1)

In [121]:
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X,y, random_state=1)

In [122]:
inv_model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [123]:
val_predictions = inv_model.predict(val_X)
print(val_predictions)
print(val_y.head(5))

[5.00000000e+04 1.75668198e+07 1.00000000e+08 ... 6.68496000e+06
 4.00000000e+04 1.72073239e+07]
11370      100000
18934    84491709
23623    22000000
17219       10000
10883      364000
Name: totfund, dtype: int64

Evaluating the model with (Mean Absolute Error)

In [124]:
from sklearn.metrics import mean_absolute_error
val_mae = mean_absolute_error(val_y, val_predictions)
print(val_mae)

23057061.392796066

Improving the model

In [125]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    inv_model2 = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=1)
    inv_model2.fit(train_X, train_y)
    preds_val = inv_model2.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [126]:
candidate_max_leaf_nodes=[5,8,10,11,12,13,15,20,50,100,200,300,500,800,1000,1500]
scores={leaf_size:get_mae(leaf_size, train_X, val_X, train_y, val_y) for leaf_size in candidate_max_leaf_nodes}
print(scores)

{5: 18133016.68945042, 8: 18106858.05688721, 10: 18270667.78875179, 11: 18759958.199756783, 12: 18597458.75613046, 13: 18590296.645141877, 15: 18687528.73638838, 20: 20069529.97600185, 50: 20907534.516307198, 100: 21170335.93080958, 200: 21312369.016865786, 300: 21568725.918924782, 500: 21747422.907448236, 800: 21828134.623910207, 1000: 21979968.651687857, 1500: 22313167.878081024}

In [127]:
best_score=min(scores,key=scores.get)
print('The number of leaves that minimize the average error is:',best_score)

The number of leaves that minimize the average error is: 8

Final model exploiting all the dataset

In [130]:
#XX = (train_X, val_X)
#YY = (train_y, val_y)
final_model=DecisionTreeRegressor(max_leaf_nodes=12,random_state=1)

In [135]:
final_model.fit(X,y)
pred_final=final_model.predict(X)
print(mean_absolute_error(y,pred_final))

18794639.638872724

Switching to a Random Forest

In [138]:
from sklearn.ensemble import RandomForestRegressor
rf_model=RandomForestRegressor(random_state=1)
rf_model.fit(train_X, train_y)
rf_pred=rf_model.predict(val_X)
print(mean_absolute_error(val_y,rf_pred))

21318498.91966456